:root {
  --color-primary-dark: rgba(49, 38, 26, 1);
  --color-primary-light: rgba(250, 244, 234, 1);
  --color-secondary-dark: #a18268;
  --color-brand-dark: rgba(70, 89, 41, 1);
  --color-brand-nornal: rgba(129, 155, 87, 1);
  --color-brand-light: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-decktop: 1280px;
